<h1>The Observable Itself</h1>
<div>
  <button (click)="tryToConnectWithJohnCallBack()">Connect with John Callback</button>
  <button (click)="tryToConnectWithJohnPromise()">Connect with John Promise</button>
  <button (click)="tryToConnectWithJohnAndJamesPromiseFail()">Connect with John and James Promise Fail</button>
  <button (click)="tryToConnectWithJohnAndJamesPromiseSuccess()">Connect with John and James Promise Success</button>
  <button (click)="tryToConnectWithJohnAndJamesObservable()">Connect with John and James Observable</button>
</div>
